body {
  margin : 0px;
  font-family: arial, sans-serif;
}

nav {
  position: absolute;
  top: 0;
}

#search::-webkit-input-placeholder{
  color: #fff;
}

@keyframes rotate{
  from{ transform: rotate(360deg); }
  to{ transform: rotate(0deg); }
}

.sync-icon{
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.status-icon {
  position: absolute;
  right: 1em;
  top: 1em;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#link-view {
  width: 100vw;
  height: 99vh;
}
